.main-container {
}

.comics {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  /* justify-content: center; */
}

.comic {
  width: 300px;
  cursor: pointer;
}

.comic-title {
  font: 700 normal 14px/24px var(--fontFamily);
}

.section-title {
  font: 700 normal 26px/24px var(--fontFamily);
  margin: 40px 0 24px;
}
