.comicList-content {
  margin: 50px 0;
}

.comics-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.title-section-comicList {
  margin: 0rem 0 2rem;
  font: 700 normal 30px/24px var(--fontFamily);
  text-transform: uppercase;
}
