:root {
  --fontFamily: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: var(--fontFamily);
}

button {
  font: 700 normal 12px/24px var(--fontFamily);
  transform: scale(1);
}

button:active {
  transform: scale(0.98);
}

.wrapper {
  max-width: 1366px;
  margin: auto;
  padding: 0 83px;
  height: inherit;
}
