:root {
  --fontFamily: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: var(--fontFamily);
  min-block-size: 37.5rem;
  min-inline-size: 48rem;
}

button {
  font: 700 normal 12px/24px var(--fontFamily);
  transform: scale(1);
}

button:active {
  transform: scale(0.98);
}

.wrapper {
  max-width: 1366px;
  margin: auto;
  padding: 0 83px;
  height: inherit;
}

@media (max-width: 1000px) {
  .credic-card-container img {
    max-height: 300px !important;
    max-width: 400px !important;
  }
  .social-media {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .footer-content {
    display: block !important;
  }
  .credicCard-information h3 {
    font-size: 20px !important;
  }
}
@media (max-width: 850px) {
  .credic-card-container img {
    max-height: 250px !important;
    max-width: 320px !important;
  }
}
